ion-content {
  --padding-top: 20px;
}

ion-item {
  font-size: 14px;

  ion-icon {
    font-size: 24px;
  }

  &.active {
    color: var(--ion-color-secondary);

    ion-icon {
      color: var(--ion-color-secondary);
    }
  }
}

h4 {
  margin-top: 5px;
  font-weight: bold;
}

ion-avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.empty-icon {
  font-size: 100px;
}

ion-menu {
  --width: 254px;
  --min-width: 254px;
  outline: none;
}
